@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font styles */
* {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif !important;
  overflow-y: auto !important;
}

.dark {
  background-color: #333333 !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
#Employee_Form_Submit_Button:disabled {
  cursor: default;
}

#Error_Para {
  font-weight: 400 !important;
}

input:focus #Error_Para {
  font-weight: 300 !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #f4f4f4;
}

.dark::-webkit-scrollbar {
  background: #f4f4f4;
}

.dark::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

.nav-menu-bar-line-2::after,
.nav-menu-bar-line-2::before,
.setIsSideBarOpen .nav-menu-bar-line-2::after,
.setIsSideBarOpen .nav-menu-bar-line-2::before {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
}

.nav-menu-bar-line-2::after,
.nav-menu-bar-line-2::before,
.setIsSideBarOpen .nav-menu-bar-line-2::after,
.setIsSideBarOpen .nav-menu-bar-line-2::before {
  background-color: #333333;
}

.dark .nav-menu-bar-line-2::after,
.dark .nav-menu-bar-line-2::before {
  background-color: #f5f5f5;
}
.setIsSideBarOpen .nav-menu-bar-line-2::after {
  top: 0;
  left: -30%;
  transform: rotate(-45deg) translate(50%, -50%);
}
.setIsSideBarOpen .nav-menu-bar-line-2::before {
  top: 0;
  left: -30%;
  transform: rotate(45deg) translate(50%, -50%);
}
.nav-menu-bar-line-2::after {
  top: 50%;
  left: 100%;
  transform: rotate(-45deg) translate(-50%, -50%);
}

.nav-menu-bar-line-2::before {
  top: 50%;
  left: 100%;
  transform: rotate(45deg) translate(-50%, -50%);
}

.dark .LoadingLoader {
  border-color: #333333 transparent !important;
}
.LoadingLoader {
  border-color: #f5f5f5 transparent !important;
}

@media (min-width: 600px) {
  #Employee {
    width: 100% !important;
  }
}

@media (max-width: 900px) {
  .nav-menu-bar-line-2::after,
  .nav-menu-bar-line-2::before,
  .setIsSideBarOpen .nav-menu-bar-line-2::after,
  .setIsSideBarOpen .nav-menu-bar-line-2::before {
    width: 15px;
  }
}
img {
  font-size: 10px;

  text-align: center;
}

.arrow span {
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.disabled-link {
  pointer-events: none;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
#employee_id_generate_icons {
  background-color: #333333;
}

.dark #employee_id_generate_icons {
  background-color: #f5f5f5;
  color: #333333;
}
.toastify__progress-bar {
  background: linear-gradient(to left, #f5f5f5, #333333);
  height: 4px !important;
  border-radius: 0px !important;
}

button:focus {
  border: none;
  box-shadow: none;
  outline: none !important;
}
select, ::picker(select){
appearance: base-select;
width: 200px;
overflow: hidden;
}
::picker(select){
border: none;
background: #e8e8e8;
margin: .4rem 0;
}
option:checked{
background: #f5f5f5;
}
