@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lato;
  src: url(../../src/assets/Fonts/Lato/Lato-Black.ttf);
}

* {
  font-family: Lato;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif !important;
}

#Employee_Profile_Pic::-webkit-file-upload-button {
  background-color: #101820;
  color: #fee715;
  border: none;
  padding: 8px 15px;
  box-sizing: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.dark #Employee_Profile_Pic::-webkit-file-upload-button {
  background-color: #fee715; /* Style for dark theme */
  color: #101820;
}
