@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font styles */
* {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif !important;
}

:root {
  --colorOne: "#E4EA8C";
  --colorTwo: "#D09683";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
#Employee_Form_Submit_Button:disabled {
  cursor: default;
}

.dark {
  background-color: #d09683 !important;
}
#Error_Para {
  font-weight: 400 !important;
}

input:focus #Error_Para {
  font-weight: 300 !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #d09683;
}

.dark ::-webkit-scrollbar {
  width: 5px;
  background-color: #d09683;
}

.dark ::-webkit-scrollbar-thumb {
  background: black;
}
