@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font styles */
* {
  font-family: "Lato", sans-serif;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Lato", sans-serif !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
#Employee_Form_Submit_Button:disabled {
  cursor: default;
}

#Error_Para {
  font-weight: 400 !important;
}

input:focus #Error_Para {
  font-weight: 300 !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #f4f4f4;
}

.dark::-webkit-scrollbar {
  background: #f4f4f4;
}

.dark::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}
.nav-menu-bar-line-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  transform: rotate(-45deg) translate(50%, 30%);
  width: 25px;
  height: 2px;
  background-color: white;
}
.nav-menu-bar-line-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  transform: rotate(45deg) translate(50%, 30%);
  width: 25px;
  height: 2px;
  background-color: white;
}
